@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Youth';
  src: url('/fonts/Youth-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mondwest';
  src: url('/fonts/PPMondwest-Regular.woff') format('woff'),
       local('PP Mondwest'), local('PPMondwest-Regular');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FK Grotesk';
  src: url('/fonts/FKGrotesk-Light.woff') format('woff'),
       local('FK Grotesk'), local('FKGrotesk-Light');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-white text-black;
  }
}

