@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Youth';
  src: url('https://fonts.cdnfonts.com/s/93480/Youth.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mondwest';
  src: local('PP Mondwest'), local('PPMondwest-Regular');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FK Grotesk';
  src: local('FK Grotesk'), local('FKGrotesk-Light');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-primary-dark text-white;
  }
}

